* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Merriweather', serif;
}

body {
    color: rgb(46, 67, 9);
    background: rgb(255, 255, 255);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 10%;
    background: rgb(46, 67, 9);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    position: relative;
    font-size: 50px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.navbar a {
    display: inline-block;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navbar a:hover {
    color: burlywood;
}

.home {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background: url(bg.jfif) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}

.home-content {
    max-width: 600px;
}

.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid rgb(46, 67, 9);
    border-radius: 50%;
    font-size: 20px;
    color: rgb(46, 67, 9);
    text-decoration: none;
    transform: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
    margin: 30px 25px 30px 0;
}

.home-sci a:hover {
    background: rgb(46, 67, 9);
    color: burlywood;
    box-shadow: 0 0 20px rgb(46, 67, 9);
}

.btn-box {
    display: inline-block;
    padding: 12px 28px;
    background: rgb(46, 67, 9);
    border-radius: 40px;
    font-size: 16px;
    color: burlywood;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px rgb(46, 67, 9),
        0 0 25px rgb(46, 67, 9);
}

.btn-box:hover {
    box-shadow: 0 0 5px rgb(46, 67, 9),
        0 0 25px rgb(46, 67, 9), 0 0 50px rgb(46, 67, 9),
        0 0 100px rgb(46, 67, 9), 0 0 200px rgb(46, 67, 9);
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 6rem;
}

.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
}

.about-img img {
    margin-top: 100px;
    margin: 50px;
    max-width: 600px;
    height: auto;
    width: 100%;
    border-radius: 5px;
}

.about-text h2 {
    font-size: 60px;
}

.about-text h2 span {
    color: rgb(46, 67, 9);
}

.about-text p {
    color: rgb(46, 67, 9);
    font-size: 18px;
    line-height: 1.4;
    margin-bottom: 4rem;
}

#products {
    color: rgb(46, 67, 9);
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
    margin: 40px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
}

.items {
    text-align: center;
    font-weight: 500;
    font-size: 35px;
}

.coconut {
    margin: 20px;
    max-height: 300px;
    border-radius: 8px;
}

.oil {
    margin: 20px;
    max-height: 300px;
    border-radius: 8px;
}
.contact {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 3rem;
    padding-left: 30px;
    margin-top: 60px;
}

.contact-text h2 {
    font-size: 90px;
    line-height: 1;
    text-align: center;
}

.contact-text h2 span {
    color: burlywood;
}

.contact-text h4 {
    margin: 15px 0;
    color: rgb(46, 67, 9);
    font-size: 21px;
    font-weight: 100;
}

.contact-text p {
    color: rgb(102, 102, 32);
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 2rem;
}

.contact-list {
    margin-bottom: 3rem;
}

.contact-list li {
    margin-bottom: 50px;
    display: block;
}

.contact-list i {
    display: inline-block;
    color: rgb(46, 67, 9);
    font-size: 20px;
    font-weight: 100;
    transition: all .40s ease;
}

.contact-list li a:hover {
    transform: scale(1.01) translateY(-5px);
    color: burlywood;
}

.top {
    position: fixed;
    bottom: 2.1rem;
    right: 2.1rem;
}

.top i {
    color: burlywood;
    background: rgb(46, 67, 9);
    font-size: 20px;
    padding: 10px;
    border-radius: 0.5rem;
}

@keyframes animate-path1 {
    100% {
        stroke-dashoffset: 50;
    }
}

@keyframes animate-path2 {
    100% {
        stroke-dashoffset: 175;
    }
}

@keyframes animate-path3 {
    100% {
        stroke-dashoffset: 125;
    }
}

@keyframes animate-path4 {
    100% {
        stroke-dashoffset: 75;
    }
}

@keyframes animate-bar {
    100% {
        stroke-dashoffset: -1;
    }
}

@keyframes showText {
    100% {
        opacity: 1;
    }
}

@keyframes animate {
    100% {
        transform: scaleX(1);
    }    
}

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}